div {
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 80px;
}

img {
    diplay: block;
    margin-right: auto;
    margin-left: auto;
}
p {
    background-color: green;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px; 
}